nodered/flows.json
[
    {
        "id": "76e4921e87a05a32",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqttBroker",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "broker",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7e2934393ac03b0c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "univaq",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb-container:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "mqttInNode",
        "type": "mqtt in",
        "z": "76e4921e87a05a32",
        "name": "MQTT Input",
        "topic": "topicTest",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqttBroker",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "debugNode"
            ]
        ]
    },
    {
        "id": "debugNode",
        "type": "debug",
        "z": "76e4921e87a05a32",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "32ab7c92513ab7e1",
        "type": "mqtt in",
        "z": "76e4921e87a05a32",
        "name": "sensor1",
        "topic": "SmartHome/livingRoom/1",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqttBroker",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "93eb87103951960d",
                "8dc0b6249cd06292"
            ]
        ]
    },
    {
        "id": "93eb87103951960d",
        "type": "debug",
        "z": "76e4921e87a05a32",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "ddb1cba5cc2fcff1",
        "type": "http request",
        "z": "76e4921e87a05a32",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot<tokenHide>/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 630,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "6dce0143cbc1b4b1",
        "type": "inject",
        "z": "76e4921e87a05a32",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "8dc0b6249cd06292"
            ]
        ]
    },
    {
        "id": "8dc0b6249cd06292",
        "type": "function",
        "z": "76e4921e87a05a32",
        "name": "function 1",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot<hideToken>/sendMessage\";\nmsg.payload = {\n    chat_id: \"<hideChatId>\", // ID del gruppo\n    text: \"Hello, from nodered!\"  // Messaggio da inviare\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 400,
        "wires": [
            [
                "ddb1cba5cc2fcff1"
            ]
        ]
    },
    {
        "id": "26ddd0e43536d9b4",
        "type": "inject",
        "z": "76e4921e87a05a32",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "90",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "83e7dbbe33056d07"
            ]
        ]
    },
    {
        "id": "34d528bb595484f9",
        "type": "debug",
        "z": "76e4921e87a05a32",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 40,
        "wires": []
    },
    {
        "id": "83e7dbbe33056d07",
        "type": "function",
        "z": "76e4921e87a05a32",
        "name": "function 2",
        "func": "msg.payload = {value:40}\nmsg.payload = { value: 10 }\nmsg.payload = { value: 30 }\nmsg.payload = { value: 40 }\nmsg.payload = { value: 60 }\nmsg.payload = { value: 90 }\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "34d528bb595484f9",
                "b1465d6f93c0de3a"
            ]
        ]
    },
    {
        "id": "b1465d6f93c0de3a",
        "type": "influxdb out",
        "z": "76e4921e87a05a32",
        "influxdb": "7e2934393ac03b0c",
        "name": "univaq",
        "measurement": "id",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "prova",
        "x": 570,
        "y": 100,
        "wires": []
    }
]