nodered/flows.json
[
    {
        "id": "76e4921e87a05a32",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqttBroker",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "broker",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7e2934393ac03b0c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "univaq",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "mqttInNode",
        "type": "mqtt in",
        "z": "76e4921e87a05a32",
        "name": "MQTT Input",
        "topic": "topicTest",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqttBroker",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "32ab7c92513ab7e1",
        "type": "mqtt in",
        "z": "76e4921e87a05a32",
        "name": "livTemp",
        "topic": "SmartHome/livingRoom/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqttBroker",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "56e146e9b511f1bc"
            ]
        ]
    },
    {
        "id": "93eb87103951960d",
        "type": "debug",
        "z": "76e4921e87a05a32",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "ddb1cba5cc2fcff1",
        "type": "http request",
        "z": "76e4921e87a05a32",
        "name": "tgbot alert",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot<tokenHide>/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 820,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "8dc0b6249cd06292",
        "type": "function",
        "z": "76e4921e87a05a32",
        "name": "send alert",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot<hideToken>/sendMessage\";\nmsg.payload = {\n    chat_id: \"<hideChatId>\", // ID del gruppo\n    text: \"temp alarm!\"  // Messaggio da inviare\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 380,
        "wires": [
            [
                "ddb1cba5cc2fcff1"
            ]
        ]
    },
    {
        "id": "26ddd0e43536d9b4",
        "type": "inject",
        "z": "76e4921e87a05a32",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "90",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "83e7dbbe33056d07"
            ]
        ]
    },
    {
        "id": "34d528bb595484f9",
        "type": "debug",
        "z": "76e4921e87a05a32",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 40,
        "wires": []
    },
    {
        "id": "83e7dbbe33056d07",
        "type": "function",
        "z": "76e4921e87a05a32",
        "name": "function 2",
        "func": "msg.payload = {value:600}\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [
            [
                "34d528bb595484f9",
                "b1465d6f93c0de3a"
            ]
        ]
    },
    {
        "id": "b1465d6f93c0de3a",
        "type": "influxdb out",
        "z": "76e4921e87a05a32",
        "influxdb": "7e2934393ac03b0c",
        "name": "univaq",
        "measurement": "value",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "univaq",
        "bucket": "smart_home_iot",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "56e146e9b511f1bc",
        "type": "function",
        "z": "76e4921e87a05a32",
        "name": "temperature check",
        "func": "var temp_value = msg.payload\n\nif(temp_value <= 20){\n    msg.payload = \"*** NORMAL VALUE ***\"\n}else{\n    msg.payload = \"*** ALERT VALUE ***\"\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 280,
        "wires": [
            [
                "93eb87103951960d",
                "8dc0b6249cd06292"
            ]
        ]
    },
    {
        "id": "8167e4f8183fc413",
        "type": "mqtt in",
        "z": "76e4921e87a05a32",
        "name": "bedTemp",
        "topic": "SmartHome/bedroom/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqttBroker",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 360,
        "wires": [
            [
                "56e146e9b511f1bc"
            ]
        ]
    },
    {
        "id": "48e209bea246f2fe",
        "type": "mqtt in",
        "z": "76e4921e87a05a32",
        "name": "livLight",
        "topic": "SmartHome/livingRoom/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqttBroker",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 480,
        "wires": [
            [
                "376d691978934e26"
            ]
        ]
    },
    {
        "id": "6ffd28efa1ad91f9",
        "type": "debug",
        "z": "76e4921e87a05a32",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 480,
        "wires": []
    },
    {
        "id": "087e3bb831efbe51",
        "type": "http request",
        "z": "76e4921e87a05a32",
        "name": "tgbot alert",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot<tokenHide>/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 820,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "5034b8eb79ecf011",
        "type": "function",
        "z": "76e4921e87a05a32",
        "name": "send alert",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot<hideToken>/sendMessage\";\nmsg.payload = {\n    chat_id: \"<hideChatId>\", // ID del gruppo\n    text: \"light alarm!\"  // Messaggio da inviare\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 580,
        "wires": [
            [
                "087e3bb831efbe51"
            ]
        ]
    },
    {
        "id": "376d691978934e26",
        "type": "function",
        "z": "76e4921e87a05a32",
        "name": "light check",
        "func": "var temp_value = msg.payload\n\nif(temp_value == \"on\"){\n    msg.payload = \"*** NORMAL VALUE ***\"\n}else{\n    msg.payload = \"*** ALERT VALUE ***\"\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 480,
        "wires": [
            [
                "6ffd28efa1ad91f9",
                "5034b8eb79ecf011"
            ]
        ]
    },
    {
        "id": "625f726eabfccb88",
        "type": "mqtt in",
        "z": "76e4921e87a05a32",
        "name": "bedLight",
        "topic": "SmartHome/bedroom/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqttBroker",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 560,
        "wires": [
            [
                "376d691978934e26"
            ]
        ]
    }
]