nodered/flows.json
[
    {
        "id": "76e4921e87a05a32",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqttBroker",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "broker",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "mqttInNode",
        "type": "mqtt in",
        "z": "76e4921e87a05a32",
        "name": "MQTT Input",
        "topic": "topicTest",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqttBroker",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "debugNode"
            ]
        ]
    },
    {
        "id": "debugNode",
        "type": "debug",
        "z": "76e4921e87a05a32",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "32ab7c92513ab7e1",
        "type": "mqtt in",
        "z": "76e4921e87a05a32",
        "name": "sensor1",
        "topic": "SmartHome/livingRoom/1",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqttBroker",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "93eb87103951960d",
                "8dc0b6249cd06292"
            ]
        ]
    },
    {
        "id": "93eb87103951960d",
        "type": "debug",
        "z": "76e4921e87a05a32",
        "name": "Debug MQTT",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "ddb1cba5cc2fcff1",
        "type": "http request",
        "z": "76e4921e87a05a32",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.telegram.org/bot8170899441:AAGim2S_DnqFwvYmfOiaSzXKt23D4dQuq1c/sendMessage",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "",
                "valueType": "other",
                "valueValue": ""
            }
        ],
        "x": 630,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "6dce0143cbc1b4b1",
        "type": "inject",
        "z": "76e4921e87a05a32",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "8dc0b6249cd06292"
            ]
        ]
    },
    {
        "id": "8dc0b6249cd06292",
        "type": "function",
        "z": "76e4921e87a05a32",
        "name": "function 1",
        "func": "msg.method = \"POST\";\nmsg.url = \"https://api.telegram.org/bot<hideToken>/sendMessage\";\nmsg.payload = {\n    chat_id: \"<hideChatId>\", // ID del gruppo\n    text: \"Hello, from nodered!\"  // Messaggio da inviare\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 400,
        "wires": [
            [
                "ddb1cba5cc2fcff1"
            ]
        ]
    }
]
